//Colors

$darkblue-introemail: hsl(217, 28%, 15%);
$darkblue-main: hsl(218, 28%, 13%);
$darkblue-footer: hsl(216, 53%, 9%);
$darkblue-test: hsl(219, 30%, 18%);

$cyan: hsl(176, 68%, 64%);
$blue: hsl(198, 60%, 50%);
$lightred: hsl(0, 100%, 63%);

$white: hsl(0, 0%, 100%);

//Font-size

$font-body: 0.875rem; //14px
$font-slightlylarge: 1.125rem; //16px
